

{{#foreach posts}}

<section class="{{post_class}}">
  <div class="row">
    <div class="col-md-12">
      <div class="meta">
        <time class="date" datetime="{{date format="DD-MMM-YYY"}}">
          {{date published_at format="DD MMMM YYYY"}}
        </time>
         {{tags prefix=" on "}}
      </div>
      <h2 class="title"><a href="{{url}}">{{{title}}}</a></h2>
      <p class="">{{excerpt words="32"}} ...</p>
      <a class="btn btn-more" href="{{url}}">READ MORE <i class="fa fa-arrow-right fa-fw"></i></a>
    </div>
  </div>
</section>

{{/foreach}}
