{{!< default}}

<div class="container-fluid">
  <div class="post-navigation">
    <div class="row">
      <div class="col-md-12">
        <a href="{{@blog.url}}">
          <i class="fa fa-arrow-left fa-fw"></i>Back
        </a>
      </div>
    </div>
  </div>
</div>


{{#post}}
<div class="container">
  <header class="post-header">
    <h1 class="title">{{title}}</h1>
    <section class="meta">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="DD MMMM YYYY"}} {{tags prefix=" on "}}
      </time>
    </section>
  </header>
  <div class="row">
    <div class="col-md-12">
      <div class="post-content">
        {{content}}
      </div>
      <section class="social">
        <a href="#">
          <i class="fa fa-1x fa-facebook fa-fw"></i>
        </a>
        <a href="#">
          <i class="fa fa-1x fa-twitter fa-fw"></i>
        </a>
        <a href="#">
          <i class="fa fa-1x fa-google-plus fa-fw"></i>
        </a>
        <a href="#">
          <i class="fa fa-1x fa-reddit fa-fw"></i>
        </a>
        <a href="#">
          <i class="fa fa-1x fa-yc fa-fw"></i>
        </a>
      </section>
      <hr>
    </div>
  </div>

  {{#author}}
  <div class="post-author">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="{{image}}" alt="" class="img-responsive img-circle image"/>
      </div>
      <div class="col-md-9">
        <h5 class="name">{{name}}</h5>
        <p class="bio">
          {{bio}}
        </p>
        <p class="meta">
          {{#if location}}<i class="fa fa-map-marker"></i>{{location}}{{/if}}
          {{#if website}}<i class="fa fa-globe"></i><a href="#">{{website}}</a>{{/if}}
      </div>
    </div>
  </div>
  {{/author}}

</div>

<section class="read-next">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h6 class="next-title">YOU MIGHT ENJOY THESE STORIES NEXT</h6>

        {{#next_post}}
        <a href="{{url}}">
          <div class="panel">
            <div class="row">
              <div class="col-md-4 img-container" style="background-image: url({{image}}); background-size:cover">
              </div>
              <div class="col-md-8">
                <h2 class="title">{{title}}</h2>
                <p class="excerpt">
                  {{excerpt characters="120"}} ...
                </p>
              </div>
            </div>
          </div>
        </a>
        {{/next_post}}

        {{#prev_post}}
        <a href="{{url}}">
          <div class="panel">
            <div class="row">
              <div class="col-md-4 img-container" style="background-image: url({{image}}); background-size:cover">
              </div>
              <div class="col-md-8">
                <h2 class="title">{{title}}</h2>
                <p class="excerpt">
                  {{excerpt characters="120"}} ...
                </p>
              </div>
            </div>
          </div>
        </a>
        {{/prev_post}}
      </div>
    </div>
  </div>
</section>

{{/post}}
